<style>
    .list-widget {
        margin-bottom: 8px;
        padding: 0 24px;
    }

    .list-widget-section {
        border-bottom: 1px solid #4CAF50;
        padding: 16px 24px 12px 24px;
    }

    .list-widget-title {
        font-size: 14px;
        font-weight: bold;
        vertical-align: text-top;
    }

    .list-widget-action {
        float: right;
        color: #8a8a8a;
        font-size: 12px;
        text-decoration: none;
        line-height: 22px;
        max-height: 44px;
        cursor: pointer;
    }

    .list-widget ul, .list-widget li {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .list-widget li {
        transition: border-color .3s, background-color .3s, color .3s;
        padding: 8px 24px !important;
        margin: 0 -24px !important;
        outline: 0 !important;
    }

    .list-widget li:hover {
        background-color: #EFEEEE;
    }

    .list-widget li:not(:last-child) {
        border-bottom: 1px dashed #8a8a8a;
    }

    .list-widget li a {
        display: block;
        color: #8a8a8a;
        text-decoration: none;
        line-height: 22px;
        max-height: 44px;
        overflow: hidden;
        word-wrap: break-word;
    }

    .list-widget li span {
        font-size: 12px;
        line-height: 22px;
        color: #8a8a8a;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .list-widget a:active {
        color: #999;
    }

    .list-widget a:hover span {
        color: #000000;
    }
</style>
