<style>
    .footer {
        text-align: center;
        height: 60px;
        line-height: 30px;
        padding: 20px;
        color: #999;
    }

    .footer p {
        margin: 0;
        padding: 0;
    }

    .footer a {
        color: #999;
        text-decoration: none;
    }

    .go-top {
        fill: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        display: none;
        width: 40px;
        /*height: 20px;*/
        position: fixed;
        right: 50px;
        bottom: 50px;
        background-color: #4CAF50;
        text-align: center;
        padding: 10px 0;
    }
</style>
<footer class="footer">
    <p>
        <th:block th:text="'©' + ${#temporals.year(#temporals.createNow())}"></th:block>
        <a th:if="${@portal.icp}" th:text="${@portal.icp.getId()}" th:href="${@portal.icp.getLink()}" target="_blank"></a>
        <a style="color:#4CAF50;" href="https://www.aliyun.com/minisite/goods?userCode=id54txo0" target="_blank">阿里云</a>
    </p>
    <p>
        <a th:if="${@portal.comment.enabled} and ${@portal.comment.type == 'giscus'}" th:text="#{footer_messages}" th:href="@{/messages.html}" th:title="#{footer_messages}">留言板</a>
        <a th:text="#{footer_sitemap}" th:href="@{/sitemap.xml}" th:title="#{footer_sitemap}">网站地图</a>
        <a th:if="${@portal.github}" th:href="${@portal.github}" target="_blank" title="GitHub">GitHub</a>
    </p>
</footer>
<div class="go-top" th:title="#{footer_top}">
    <svg width="16" height="16" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
        <g>
            <path d="M12.036 15.59c0 .55-.453.995-.997.995H5.032c-.55 0-.997-.445-.997-.996V8.584H1.03c-1.1 0-1.36-.633-.578-1.416L7.33.29c.39-.39 1.026-.385 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.004z"
                  fill-rule="evenodd"></path>
        </g>
    </svg>
</div>
<th:block th:replace="~{portal/base_js}"></th:block>
