<th:block>
    <div th:if="${!#lists.isEmpty(@websiteData.postDailyStatsList)}" id="calendar-chart" style="height: 250px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <div th:if="${!#lists.isEmpty(@websiteData.postMonthlyStatsList)}" id="post-chart" style="height: 300px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <div th:if="${!#lists.isEmpty(@websiteData.postHourlyStatsList)}" id="sankey-chart" style="height: 250px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <div id="boxplot-chart" style="height: 250px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', ev => {
            const loadECharts = () => {
                return new Promise((resolve, reject) => {
                    const script = document.createElement('script');
                    script.referrerPolicy = 'no-referrer';
                    script.crossOrigin = 'anonymous';
                    script.src = /*[[${@portal.js.get('echarts').getFirst()}]]*/ 'http://echarts.js';
                    script.onload = () => resolve();
                    script.onerror = () => reject(new Error('ECharts loads on error'))
                    document.body.appendChild(script);
                });
            };
            loadECharts()
                .then(() => {
                    if (typeof echarts !== 'undefined') {
                        const postDailyStatsList = /*[[${@websiteData.postDailyStatsList}]]*/ [];
                        const yearSet = new Set();
                        const yearlyData = {};
                        const yearMinMax = {};
                        postDailyStatsList.forEach(item => {
                            const year = item.year.toString();
                            yearSet.add(year);
                            if (!yearlyData[year]) {
                                yearlyData[year] = [];
                                yearMinMax[year] = {
                                    min: 0,
                                    max: 0,
                                };
                            }
                            yearlyData[year].push([
                                `${year}-${item.month}-${item.day}`,
                                item.count
                            ])
                            yearMinMax[year].min = Math.min(yearMinMax[year].min, item.count);
                            yearMinMax[year].max = Math.max(yearMinMax[year].max, item.count);
                        })
                        try {
                            const calendarChartDom = document.getElementById('calendar-chart');
                            if (!calendarChartDom) return;
                            var calendarChart = echarts.init(calendarChartDom);
                            const timelineYear = [...yearSet];
                            const option = {
                                color: ['#4CAF50'],
                                tooltip: {
                                    formatter: (params) => {
                                        return `${echarts.time.format(params.data[0], '{yyyy}-{MM}-{dd}', false)}<div style="display: flex; align-items: center; justify-content: space-between;margin-top: 10px">${params.marker}<b>${params.data[1]}</b></div>`
                                    }
                                },
                                visualMap: {
                                    inRange: {
                                        opacity: [0.1, 1],
                                    }
                                },
                                options: timelineYear.map(item => ({
                                    visualMap: {
                                        show: false,
                                        min: yearMinMax[item].min,
                                        max: yearMinMax[item].max,
                                        calculable: false,
                                        orient: 'vertical',
                                    },
                                    calendar: {
                                        range: item
                                    },
                                    series: [{
                                        data: yearlyData[item],
                                    }],
                                })),
                                timeline: {
                                    orient: 'vertical',
                                    right: 0,
                                    top: 20,
                                    bottom: 0,
                                    axisType: 'category',
                                    // inverse: true,
                                    currentIndex: timelineYear.length - 1,
                                    data: timelineYear,
                                    // controlPosition: 'none',
                                    symbolSize: 5,
                                    checkpointStyle: {
                                        color: '#4CAF50',
                                        symbolSize: 16,
                                        symbol: 'diamond',
                                    },
                                    lineStyle: {
                                        color: '#4CAF50',
                                        opacity: 1,
                                    },
                                    itemStyle: {
                                        color: '#4CAF50',
                                        opacity: 1,
                                    },
                                    label: {
                                        show: false
                                    },
                                    controlStyle: {
                                        color: '#4CAF50',
                                        showPlayBtn: false,
                                        itemSize: 12,
                                        itemGap: 12,
                                    },
                                    progress: {
                                        lineStyle: {
                                            color: '#B0E1B3',
                                        },
                                        itemStyle: {
                                            color: '#B0E1B3',
                                        },
                                    },
                                    tooltip: {
                                        formatter: '{b}'
                                    }
                                },
                                calendar: [
                                    {
                                        // orient: 'vertical',
                                        orient: 'horizontal',
                                        left: 50,
                                        right: 50,
                                        top: 50,
                                        bottom: 50,
                                        yearLabel: {
                                            // show: false,
                                            margin: 15,
                                            position: 'bottom',
                                        },
                                        dayLabel: {
                                            firstDay: 0,
                                        },
                                        monthLabel: {
                                            margin: 15,
                                        },
                                        // range: '2019',
                                    }
                                ],
                                series: [{
                                    type: 'heatmap',
                                    coordinateSystem: 'calendar',
                                    calendarIndex: 0,
                                    emphasis: {
                                        focus: 'self',
                                        textStyle: {
                                            textShadowBlur: 10,
                                            textShadowColor: '#333'
                                        }
                                    },
                                    // data: yearlyData['2019'],
                                }]
                            };
                            calendarChart.setOption(option);
                        } catch (e) {
                        }

                        const yearlyStats = /*[[${@websiteData.postYearlyStatsList}]]*/ [];
                        const monthlyStats = /*[[${@websiteData.postMonthlyStatsList}]]*/ [];
                        const monthNamesStr = /*[[#{data_months}]]*/ "";
                        const monthNames = monthNamesStr.split(",");
                        try {
                            const postChartDom = document.getElementById('post-chart');
                            if (!postChartDom) return;
                            var postChart = echarts.init(postChartDom);
                            const years = [...new Set(monthlyStats.map(item => item.year))]
                            const series = monthNames.map((monthName, monthIndex) => {
                                const values = years.map(year => {
                                    const matchItem = monthlyStats.find(item => item.year === year && item.month === (monthIndex + 1));
                                    return matchItem ? matchItem.count : 0;
                                });
                                return {
                                    name: monthName,
                                    type: 'bar',
                                    stack: 'total',
                                    data: values,
                                    emphasis: {
                                        focus: 'series',
                                    },
                                }
                            })

                            if (yearlyStats?.length > 0) {
                                series.unshift({
                                    name: /*[[#{data_yearly_posts}]]*/ "历年文章数",
                                    color: '#4CAF50',
                                    data: yearlyStats.map(item => item.count),
                                    type: 'line',
                                    smooth: true,
                                    label: {
                                        show: true,
                                    },
                                });
                            }
                            const option = {
                                legend: {
                                    type: 'scroll',
                                    left: '5%',
                                },
                                tooltip: {
                                    axisPointer: {
                                        type: 'cross',
                                        crossStyle: {
                                            color: '#999',
                                        }
                                    }
                                },
                                grid: {
                                    show: false,
                                    left: '5%',
                                    top: '15%',
                                    bottom: '15%',
                                    containLabel: true,
                                },
                                xAxis: {
                                    name: /*[[#{v_year}]]*/ '',
                                    nameGap: 5,
                                    type: 'category',
                                    axisTick: {
                                        show: true,
                                    },
                                    splitLine: {
                                        show: true,
                                    },
                                    data: years,
                                },
                                yAxis: {
                                    name: /*[[#{v_view}]]*/ '',
                                    nameTextStyle: {
                                        align: 'right',
                                    },
                                    type: 'value',
                                    axisLine: {
                                        show: true,
                                    },
                                    axisTick: {
                                        show: true,
                                    },
                                },
                                series: series
                            };
                            postChart.setOption(option);
                        } catch (e) {
                        }

                        const postHourlyStatsList = /*[[${@websiteData.postHourlyStatsList}]]*/ [];
                        const hourArr = Array(24).fill(0);
                        postHourlyStatsList.forEach(item => hourArr[item.hour] = item.count);
                        try {
                            const sankeyChartDom = document.getElementById('sankey-chart');
                            if (!sankeyChartDom) return;
                            var sankeyChart = echarts.init(sankeyChartDom);
                            const allCount = hourArr.reduce((acc, curr) => acc + curr, 0);
                            const dayCount = hourArr.slice(6, 18).reduce((acc, curr) => acc + curr, 0);
                            const earlyMorningCount = hourArr.slice(0, 6).reduce((acc, curr) => acc + curr, 0);
                            const morningCount = hourArr.slice(6, 9).reduce((acc, curr) => acc + curr, 0);
                            const forenoonCount = hourArr.slice(9, 12).reduce((acc, curr) => acc + curr, 0);
                            const lunchtimeCount = hourArr.slice(12, 14).reduce((acc, curr) => acc + curr, 0);
                            const afternoonCount = hourArr.slice(14, 18).reduce((acc, curr) => acc + curr, 0);
                            const eveningCount = hourArr.slice(18, 21).reduce((acc, curr) => acc + curr, 0);
                            const nightCount = hourArr.slice(21, 24).reduce((acc, curr) => acc + curr, 0);
                            const option = {
                                tooltip: {
                                    formatter: '{b} <b style="margin-left: 20px;">{c}</b>',
                                },
                                series: {
                                    type: 'sankey',
                                    draggable: false,
                                    right: '10%',
                                    nodeAlign: 'left',
                                    layoutIterations: 0,
                                    // roam: true,
                                    // roamTrigger: 'selfRect',
                                    label: {
                                        // show: false,
                                    },
                                    edgeLabel: {
                                        show: true,
                                        // formatter: '{b}: {c}',
                                    },
                                    labelLayout: {
                                        moveOverlap: 'shiftY',
                                    },
                                    lineStyle: {
                                        color: 'target',
                                    },
                                    links: [
                                        {
                                            source: '全天',
                                            target: '白天',
                                            value: dayCount,
                                        },
                                        {
                                            source: '全天',
                                            target: '夜晚',
                                            value: allCount - dayCount,
                                        },
                                        {
                                            source: '白天',
                                            target: '上午',
                                            value: morningCount,
                                        },
                                        {
                                            source: '白天',
                                            target: '早晨',
                                            value: forenoonCount,
                                        },
                                        {
                                            source: '白天',
                                            target: '中午',
                                            value: lunchtimeCount,
                                        },
                                        {
                                            source: '白天',
                                            target: '下午',
                                            value: afternoonCount,
                                        },
                                        {
                                            source: '夜晚',
                                            target: '傍晚',
                                            value: eveningCount,
                                        },
                                        {
                                            source: '夜晚',
                                            target: '深夜',
                                            value: nightCount,
                                        },
                                        {
                                            source: '夜晚',
                                            target: '凌晨',
                                            value: earlyMorningCount,
                                        },
                                    ],
                                    data: [
                                        {
                                            name: '全天',
                                            depth: 0
                                        },
                                        {
                                            name: '白天',
                                            depth: 1,
                                            tooltip: {
                                                formatter: (params) => {
                                                    return `${params.marker}06:00-18:00<b style="margin-left: 20px">${params.value}</b>`
                                                }
                                            },
                                        },
                                        {
                                            name: '夜晚',
                                            depth: 1,
                                            tooltip: {
                                                formatter: (params) => {
                                                    return `${params.marker}18:00-06:00<b style="margin-left: 20px">${params.value}</b>`
                                                }
                                            },
                                        },
                                        {
                                            name: '早晨',
                                            depth: 2,
                                            tooltip: {
                                                formatter: (params) => {
                                                    return `${params.marker}06:00-09:00<b style="margin-left: 20px">${params.value}</b>`
                                                }
                                            },
                                        },
                                        {
                                            name: '上午',
                                            depth: 2,
                                            tooltip: {
                                                formatter: (params) => {
                                                    return `${params.marker}09:00-12:00<b style="margin-left: 20px">${params.value}</b>`
                                                }
                                            },
                                        },
                                        {
                                            name: '中午',
                                            depth: 2,
                                            tooltip: {
                                                formatter: (params) => {
                                                    return `${params.marker}12:00-14:00<b style="margin-left: 20px">${params.value}</b>`
                                                }
                                            },
                                        },
                                        {
                                            name: '下午',
                                            depth: 2,
                                            tooltip: {
                                                formatter: (params) => {
                                                    return `${params.marker}14:00-18:00<b style="margin-left: 20px">${params.value}</b>`
                                                }
                                            },
                                        },
                                        {
                                            name: '傍晚',
                                            depth: 2,
                                            tooltip: {
                                                formatter: (params) => {
                                                    return `${params.marker}18:00-21:00<b style="margin-left: 20px">${params.value}</b>`
                                                }
                                            },
                                        },
                                        {
                                            name: '深夜',
                                            depth: 2,
                                            tooltip: {
                                                formatter: (params) => {
                                                    return `${params.marker}21:00-24:00<b style="margin-left: 20px">${params.value}</b>`
                                                }
                                            },
                                        },
                                        {
                                            name: '凌晨',
                                            depth: 2,
                                            tooltip: {
                                                formatter: (params) => {
                                                    return `${params.marker}24:00-06:00<b style="margin-left: 20px">${params.value}</b>`
                                                }
                                            },
                                        },
                                    ],
                                }
                            };
                            sankeyChart.setOption(option);
                        } catch (e) {
                        }

                        const topicViewBoxplotStatsList = /*[[${topicViewBoxplotStatsList}]]*/ [];
                        try {
                            const boxplotChartDom = document.getElementById('boxplot-chart');
                            if (!boxplotChartDom) return;
                            var boxplotChart = echarts.init(boxplotChartDom);
                            const breaksConfig = {};
                            const xAxisData = [];
                            const boxplotData = topicViewBoxplotStatsList.map(item => {
                                xAxisData.push(item.topic);
                                if (item.max > 2 * item.whiskerMax) {
                                    breaksConfig.hasOutlier = true;
                                    breaksConfig.start = item.q3;
                                    breaksConfig.end = item.whiskerMax;
                                    breaksConfig.gap = '15%';
                                }
                                return [item.whiskerMin, item.q1, item.q2, item.q3, item.whiskerMax];
                            })
                            const option = {
                                tooltip: {},
                                grid: {
                                    show: false,
                                    left: '5%',
                                    top: '15%',
                                    bottom: '5%',
                                    containLabel: true,
                                },
                                xAxis: {
                                    name: /*[[#{v_topic}]]*/ '',
                                    nameGap: 5,
                                    type: 'category',
                                    axisTick: {
                                        show: true,
                                    },
                                    data: xAxisData,
                                },
                                yAxis: {
                                    name: /*[[#{v_view}]]*/ '',
                                    nameTextStyle: {
                                        align: 'right',
                                    },
                                    type: 'value',
                                    axisLine: {
                                        show: true,
                                    },
                                    axisTick: {
                                        show: true,
                                    },
                                    splitArea: {
                                        show: true
                                    },
                                    // breaks: breaksConfig.hasOutlier ? [{
                                    //     ...breaksConfig
                                    // }] : null,
                                    // breakArea: {
                                    //     show: true,
                                    // }
                                },
                                series: {
                                    type: 'boxplot',
                                    colorBy: 'data',
                                    data: boxplotData,
                                }
                            };
                            boxplotChart.setOption(option);
                        } catch (e) {
                        }

                        window.addEventListener('resize', () => {
                            calendarChart?.resize();
                            postChart?.resize();
                            sankeyChart?.resize();
                            boxplotChart?.resize();
                        })
                    }
                })
                .catch((err) => {
                    document.getElementById('calendar-chart').style.display = 'none';
                    document.getElementById('post-chart').style.display = 'none';
                    document.getElementById('sankey-chart').style.display = 'none';
                    document.getElementById('boxplot-chart').style.display = 'none';
                    console.log("echarts load error", err);
                })
        })
    </script>
</th:block>
