<th:block th:if="${!#lists.isEmpty(topicPostMonthlyStatsList)}">
    <div id="topic-chart" style="height: 300px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', ev => {
            const loadECharts = () => {
                return new Promise((resolve, reject) => {
                    const script = document.createElement('script');
                    script.referrerPolicy = 'no-referrer';
                    script.crossOrigin = 'anonymous';
                    script.src = /*[[${@portal.js.get('echarts').getFirst()}]]*/ 'http://echarts.js';
                    script.onload = () => resolve();
                    script.onerror = () => reject(new Error('ECharts loads on error'))
                    document.body.appendChild(script);
                });
            };
            loadECharts()
                .then(() => {
                    if (typeof echarts !== 'undefined') {
                        const monthlyStats = /*[[${topicPostMonthlyStatsList}]]*/ [];
                        const topicGroup = {};
                        monthlyStats.forEach(item => {
                            const {topic, year, month, cumulativeCount} = item;
                            if (!topicGroup[topic]) {
                                topicGroup[topic] = [];
                            }
                            topicGroup[topic].push([
                                `${year}-${month}`,
                                cumulativeCount
                            ])
                        });
                        try {
                            const topicChartDom = document.getElementById('topic-chart');
                            var topicChart = echarts.init(topicChartDom);
                            const option = {
                                title: {
                                    text: /*[[#{v_topic_trend}]]*/ ""
                                },
                                color: ['#4CAF50', '#ee6666', '#9a60b4',],
                                legend: {
                                    type: 'scroll',
                                    left: 'center',
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    formatter: (params) => {
                                        const param = params[0];
                                        return `${echarts.time.format(param.data[0],  '{yyyy}-{MM}', false)}<br>${param.marker}${param.seriesName}: ${param.data[1]}`;
                                    },
                                    axisPointer: {
                                        type: 'cross',
                                        label: {
                                            formatter: (params) => {
                                                if (params.axisDimension === 'x') {
                                                    return echarts.time.format(params.value,  '{yyyy}-{MM}', false)
                                                } else {
                                                    return params.value.toFixed(2);
                                                }
                                            }
                                        },
                                    },
                                },
                                grid: {
                                    show: false,
                                    left: '5%',
                                    right: '80',
                                    bottom: '15%',
                                    containLabel: true,
                                },
                                xAxis: {
                                    type: 'time',
                                    axisLabel: {
                                        formatter : '{yyyy}',
                                        hideOverlap: true,
                                    },
                                    tooltip: {
                                        show: true,
                                        position: 'top',
                                    }
                                },
                                yAxis: {
                                    type: 'value',
                                },
                                animationDuration: 3000,
                                series: Object.entries(topicGroup).map(([topic, seriesData]) => ({
                                    name: topic,
                                    type: 'line',
                                    data: seriesData,
                                    emphasis: {
                                        focus: 'series',
                                        label: {
                                            show: true,
                                        },
                                    },
                                    smooth: true,
                                    symbol: seriesData.length > 1 ? 'none' : 'emptyCircle',
                                    endLabel: {
                                        show: true,
                                        color: 'inherit',
                                        formatter: '{a}',
                                        width: 75,
                                        distance: 5,
                                        overflow: 'breakAll',
                                    },
                                    labelLayout: {
                                        moveOverlap: 'shiftY',
                                    }
                                }))
                            };
                            topicChart.setOption(option);
                        } catch (e) {
                        }
                        window.addEventListener('resize', () => {
                            topicChart.resize();
                        })
                    }
                })
                .catch((err) => {
                    document.getElementById('topic-chart').style.display = 'none';
                    console.log(err)
                })
        })
    </script>
</th:block>
