<th:block th:if="${!#lists.isEmpty(topicPostMonthlyStatsList)}">
    <div id="gauge-chart" style="height: 300px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <div id="pie-chart" style="height: 400px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <div id="topic-chart" style="height: 300px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <div id="topic-scatter-chart" style="height: 300px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', ev => {
            const loadECharts = () => {
                return new Promise((resolve, reject) => {
                    const script = document.createElement('script');
                    script.referrerPolicy = 'no-referrer';
                    script.crossOrigin = 'anonymous';
                    script.src = /*[[${@portal.js.get('echarts').getFirst()}]]*/ 'http://echarts.js';
                    script.onload = () => resolve();
                    script.onerror = () => reject(new Error('ECharts loads on error'))
                    document.body.appendChild(script);
                });
            };
            loadECharts()
                .then(() => {
                    if (typeof echarts !== 'undefined') {
                        try {
                            const gaugeChartDom = document.getElementById('gauge-chart');
                            var gaugeChart = echarts.init(gaugeChartDom);
                            const progressStats = /*[[${@websiteData.postProgressStats}]]*/ {};
                            if (Object.keys(progressStats).length === 0) {
                                return;
                            }
                            const now = new Date();
                            const lastDayOfMonth = new Date(now.getFullYear(), now.getMonth() + 1, 0).getDate();
                            const daysInYear = new Date(now.getFullYear(), 2, 0).getDate() === 29 ? 366 : 365;
                            const gaugeData = [
                                {
                                    value: (progressStats.yearCount / daysInYear),
                                    name: now.getFullYear(),
                                    title: {
                                        offsetCenter: ['0%', `-60%`],
                                    },
                                    detail: {
                                        valueAnimation: true,
                                        offsetCenter: ['0%', `-40%`],
                                        formatter: function (value) {
                                            return `${(value*daysInYear).toFixed(0)}/${daysInYear}`;
                                        }
                                    }
                                },
                                {
                                    value: progressStats.monthCount / lastDayOfMonth,
                                    name: echarts.time.format(now, '{MMM}', false),
                                    title: {
                                        offsetCenter: ['0%', `-15%`]
                                    },
                                    detail: {
                                        valueAnimation: true,
                                        offsetCenter: ['0%', `5%`],
                                        formatter: function (value) {
                                            return `${(value*lastDayOfMonth).toFixed(0)}/${lastDayOfMonth}`;
                                        }
                                    }
                                },
                                {
                                    value: progressStats.dayCount,
                                    name: now.getDate(),
                                    title: {
                                        offsetCenter: ['0%', `30%`]
                                    },
                                    detail: {
                                        valueAnimation: true,
                                        offsetCenter: ['0%', `50%`],
                                        formatter: function (value) {
                                            return `${value}/1`;
                                        }
                                    }
                                }
                            ];
                            const option = {
                                color: ['#4CAF50', '#FFE50B', '#fc0006',],
                                tooltip: {},
                                animationDuration: 10000,
                                series: [{
                                    type: 'gauge',
                                    radius: '90%',
                                    min: 0,
                                    max: 1,
                                    startAngle: 90,
                                    endAngle: -270,
                                    pointer: {
                                        show: false
                                    },
                                    progress: {
                                        show: true,
                                        overlap: false,
                                        roundCap: true,
                                        clip: false,
                                        itemStyle: {
                                            borderWidth: 1,
                                            borderColor: '#464646'
                                        }
                                    },
                                    axisLine: {
                                        lineStyle: {
                                            width: 20
                                        }
                                    },
                                    splitLine: {
                                        show: false,
                                        distance: 0,
                                        length: 10
                                    },
                                    axisTick: {
                                        show: false
                                    },
                                    axisLabel: {
                                        show: false,
                                        distance: 50,
                                    },
                                    data: gaugeData,
                                    title: {
                                        fontSize: 16,
                                        fontWeight: 'bolder',
                                    },
                                    detail: {
                                        height: 14,
                                        fontSize: 14,
                                        color: 'inherit',
                                        borderColor: 'inherit',
                                        borderRadius: 20,
                                        borderWidth: 1,
                                    },
                                    tooltip: {
                                        valueFormatter: (value, dataIndex) => {
                                            return `${(value*100).toFixed(0)}%`
                                        },
                                    },
                                }],
                            }
                            gaugeChart.setOption(option);
                        } catch (err) {
                            console.log(err)
                        }

                        const yearlyStats = /*[[${@websiteData.postYearlyStatsList}]]*/ [];
                        try {
                            const pieChartDom = document.getElementById('pie-chart');
                            var pieChart = echarts.init(pieChartDom);
                            const totalPosts = yearlyStats.reduce((acc, cur) => acc + cur.count, 0);
                            const option = {
                                title: {
                                    text:  /*[[#{data_yearly_posts}]]*/ "历年文章数",
                                    left: 20,
                                },
                                tooltip: {
                                    valueFormatter: function (value) {
                                        return `${value}/${totalPosts} (${(value*100/totalPosts).toFixed(2)}%)`
                                    },
                                },
                                legend: {
                                    type: 'scroll',
                                    // orient: 'vertical',
                                    left: '10%',
                                    right: '10%',
                                    bottom: 5,
                                },
                                series: [{
                                    name: /*[[#{data_yearly_posts}]]*/ "历年文章数",
                                    type: 'pie',
                                    radius: '50%',
                                    selectedMode: 'single',
                                    data: yearlyStats.map(item=>({
                                        value: item.count,
                                        name: item.year,
                                    })).reverse(),
                                    label: {
                                        formatter: '{b|{b}}\n{hr|}\n{c|{c}}',
                                        backgroundColor: '#F6F8FC',
                                        borderColor: '#8C8D8E',
                                        borderWidth: 1,
                                        borderRadius: 4,
                                        rich: {
                                            b: {
                                                align: 'center',
                                                color: '#4C5058',
                                                fontSize: 14,
                                                fontWeight: 'bold',
                                                lineHeight: 33,
                                                padding: 10,
                                            },
                                            hr: {
                                                borderColor: '#8C8D8E',
                                                width: '100%',
                                                borderWidth: 1,
                                                height: 0
                                            },
                                            c: {
                                                align: 'center',
                                                color: '#4CAF50',
                                                lineHeight: 22,
                                                padding: 10,
                                            },
                                        }
                                    },
                                }],
                            }
                            pieChart.setOption(option);
                        } catch (err) {
                            console.log(err)
                        }

                        const monthlyStats = /*[[${topicPostMonthlyStatsList}]]*/ [];
                        const topicGroup = {};
                        const topicScatterGroup = {};
                        let dataMax = 0;
                        monthlyStats.forEach(item => {
                            const {topic, year, month, monthCount, cumulativeCount} = item;
                            dataMax = Math.max(dataMax, monthCount);
                            if (!topicGroup[topic]) {
                                topicGroup[topic] = [];
                            }
                            topicGroup[topic].push([
                                `${year}-${month}`,
                                cumulativeCount
                            ])
                            if (!topicScatterGroup[topic]) {
                                topicScatterGroup[topic] = [];
                            }
                            topicScatterGroup[topic].push([
                                `${year}-${month}`,
                                monthCount
                            ])
                        });
                        try {
                            const topicChartDom = document.getElementById('topic-chart');
                            var topicChart = echarts.init(topicChartDom);
                            const option = {
                                title: {
                                    text: /*[[#{v_topic_trend}]]*/ "",
                                    left: 20,
                                },
                                color: ['#4CAF50', '#FFE50B', '#fc0006',],
                                dataZoom: [
                                    {
                                        type: 'inside'
                                    },
                                ],
                                legend: {
                                    type: 'scroll',
                                    left: 'center',
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    formatter: (params) => {
                                        const param = params[0];
                                        return `${echarts.time.format(param.data[0],  '{yyyy}-{MM}', false)}<br>${param.marker}${param.seriesName}: ${param.data[1]}`;
                                    },
                                    axisPointer: {
                                        type: 'cross',
                                        label: {
                                            formatter: (params) => {
                                                if (params.axisDimension === 'x') {
                                                    return echarts.time.format(params.value,  '{yyyy}-{MM}', false)
                                                } else {
                                                    return params.value.toFixed(2);
                                                }
                                            }
                                        },
                                    },
                                },
                                grid: {
                                    show: false,
                                    left: '5%',
                                    right: '80',
                                    bottom: '15%',
                                    containLabel: true,
                                },
                                xAxis: {
                                    type: 'time',
                                    axisLabel: {
                                        formatter : '{yyyy}',
                                        hideOverlap: true,
                                    },
                                    tooltip: {
                                        show: true,
                                        position: 'top',
                                    }
                                },
                                yAxis: {
                                    type: 'value',
                                },
                                animationDuration: 3000,
                                series: Object.entries(topicGroup).sort((a, b) => {
                                    const arrA = a[1];
                                    const arrB = b[1];
                                    return arrB[arrB.length - 1][1] - arrA[arrA.length - 1][1]
                                }).map(([topic, seriesData]) => ({
                                    name: topic,
                                    type: 'line',
                                    data: seriesData,
                                    emphasis: {
                                        focus: 'series',
                                        label: {
                                            show: true,
                                        },
                                    },
                                    smooth: true,
                                    symbol: seriesData.length > 1 ? 'none' : 'emptyCircle',
                                    endLabel: {
                                        show: true,
                                        color: 'inherit',
                                        formatter: '{a}',
                                        width: 75,
                                        distance: 5,
                                        overflow: 'breakAll',
                                    },
                                    labelLayout: {
                                        moveOverlap: 'shiftY',
                                    }
                                }))
                            };
                            topicChart.setOption(option);
                        } catch (e) {
                        }
                        try {
                            const topicScatterChartDom = document.getElementById('topic-scatter-chart');
                            var topicScatterChart = echarts.init(topicScatterChartDom);
                            const topicAmount = /*[[#{v_topic_scatter_amount}]]*/ "";
                            const option = {
                                title: {
                                    text: /*[[#{v_topic_scatter}]]*/ "",
                                    left: 20,
                                },
                                color: ['#4CAF50', '#FFE50B', '#fc0006',],
                                dataZoom: [
                                    {
                                        type: 'inside'
                                    },
                                    {
                                        type: 'slider',
                                        left: 100,
                                        right: 150,
                                        bottom: 15,
                                        height: 20,
                                        handleLabel: {
                                            show: true,
                                        },
                                        labelFormatter: function (params) {
                                            if (params) {
                                                return echarts.time.format(params,  '{yyyy}-{MM}', false)
                                            }
                                        },
                                        textStyle: {
                                            fontSize: 10
                                        }
                                    },
                                ],
                                legend: {
                                    type: 'scroll',
                                    right: 20,
                                    top: 20,
                                    width: 200,
                                    itemWidth: 10,
                                },
                                tooltip: {
                                    formatter: (params) => {
                                        return `${echarts.time.format(params.data[0],  '{yyyy}-{MM}', false)}<br>${params.marker}${params.seriesName}: ${params.data[1]}`;
                                    },
                                },
                                grid: {
                                    left: '5%',
                                    right: '110',
                                    bottom: '15%',
                                    containLabel: true,
                                },
                                xAxis: {
                                    type: 'time',
                                    axisLabel: {
                                        formatter : '{yyyy}-{MM}',
                                        hideOverlap: true,
                                    },
                                    tooltip: {
                                        show: true,
                                        position: 'top',
                                    }
                                },
                                yAxis: {
                                    type: 'value',
                                    axisLine: {
                                        show: true,
                                    },
                                    axisTick: {
                                        show: true,
                                    },
                                    splitLine: {
                                        show: false,
                                    },
                                },
                                animationDuration: 3000,
                                visualMap: [
                                    {
                                        type: 'continuous',
                                        right: 10,
                                        top: 'middle',
                                        dimension: 1,
                                        min: 0,
                                        max: dataMax,
                                        itemWidth: 20,
                                        itemHeight: 100,
                                        align: 'right',
                                        calculable: true,
                                        text: [topicAmount],
                                        textGap: 10,
                                        inRange: {
                                            symbolSize: [10, 30]
                                        },
                                        outOfRange: {
                                            symbolSize: [10, 30],
                                            color: ['#999']
                                        },
                                        controller: {
                                            inRange: {
                                                color: ['#4CAF50']
                                            },
                                            outOfRange: {
                                                color: ['#999']
                                            }
                                        }
                                    },
                                ],
                                series: Object.entries(topicScatterGroup).sort((a, b) => {
                                    return b[1].map(arr => arr[1]).reduce((acc, cur) => acc + cur, 0)
                                        - a[1].map(arr => arr[1]).reduce((acc, cur) => acc + cur, 0)
                                }).map(([topic, seriesData]) => ({
                                    name: topic,
                                    type: 'effectScatter',
                                    data: seriesData,
                                    showEffectOn: 'emphasis',
                                }))
                            };
                            topicScatterChart.setOption(option);
                        } catch (e) {
                        }
                        window.addEventListener('resize', () => {
                            gaugeChart?.resize();
                            pieChart?.resize();
                            topicChart?.resize();
                            topicScatterChart?.resize();
                        })
                    }
                })
                .catch((err) => {
                    document.getElementById('gaugeChart-chart').style.display = 'none';
                    document.getElementById('pie-chart').style.display = 'none';
                    document.getElementById('topic-scatter-chart').style.display = 'none';
                    document.getElementById('topic-scatter-chart').style.display = 'none';
                    console.log(err)
                })
        })
    </script>
</th:block>
