<th:block th:if="${!#lists.isEmpty(@websiteData.rankSearches)}">
    <div id="search-chart" style="height: 300px;margin-bottom: 10px;padding: 1px" class="shadow"></div>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', ev => {
            const loadECharts = () => {
                return new Promise((resolve, reject) => {
                    const script = document.createElement('script');
                    script.referrerPolicy = 'no-referrer';
                    script.crossOrigin = 'anonymous';
                    script.src = /*[[${@portal.js.get('echarts').getFirst()}]]*/ 'http://echarts.js';
                    script.onload = () => resolve();
                    script.onerror = () => reject(new Error('ECharts loads on error'))
                    document.body.appendChild(script);
                });
            };
            loadECharts()
                .then(() => {
                    if (typeof echarts !== 'undefined') {
                        const rankSearches = /*[[${@websiteData.rankSearches}]]*/ [];
                        try {
                            let searchChartDom = document.getElementById('search-chart');
                            var searchChart = echarts.init(searchChartDom);
                            const title = /*[[#{data_leaderboard_search}]]*/ "搜索排行榜";
                            const option = {
                                title: {
                                    text: title,
                                },
                                tooltip: {
                                    trigger: 'item',
                                    axisPointer: {
                                        type: 'cross',
                                        crossStyle: {
                                            color: '#999',
                                        }
                                    }
                                },
                                grid: {
                                    show: false,
                                    left: '5%',
                                    right: '5%',
                                    bottom: '15%',
                                    containLabel: true,
                                },
                                xAxis: {
                                    type: 'category',
                                    data: rankSearches.map(item => item.keywords),
                                },
                                yAxis: {
                                    type: 'value'
                                },
                                series: [{
                                    name: title,
                                    type: 'bar',
                                    data: rankSearches.map(item => item.count),
                                    colorBy: 'data',
                                    showBackground: true,
                                    label: {
                                        show: true,
                                        position: 'top',
                                    },
                                    markLine: {
                                        symbol: 'none',
                                        data: [
                                            {
                                                name: 'Avg',
                                                type: 'average',
                                                label: {
                                                    position: 'middle',
                                                    formatter: '{b}: {c}'
                                                },
                                            }
                                        ],
                                    },
                                }]
                            };
                            searchChart.setOption(option);
                        } catch (e) {
                        }
                        window.addEventListener('resize', () => {
                            searchChart.resize();
                        })
                    }
                })
                .catch((err) => {
                    document.getElementById('search-chart').style.display = 'none';
                    console.log(err)
                })
        })
    </script>
</th:block>
