<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="z.note.lite.mapper.api.IpUnknownMgmtMapper">
    <select id="findAll" resultType="z.note.lite.entity.IpUnknown">
        select *
        from ip_unknown
        order by id desc limit #{size} offset #{offset}
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT count(*) FROM ip_unknown
    </select>
</mapper>
